# Supabase-Projekt "TanzRaum" (oraiqjulxmohclfixwdq)
NEXT_PUBLIC_SUPABASE_URL=https://oraiqjulxmohclfixwdq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_UEZ4EcluJj5DwBo_cJyxKA_obkWhbYc
